body {
    margin: 0;
    font-family: sans-serif;
    background-color: #dbdbdb;
}

header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(101deg,rgba(56, 92, 139, 1) 0%, rgba(75, 138, 239, 1) 100%);
    color: #FFFF;
    box-shadow: 0px 0px 7px 4px #000000
}

header nav{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

header a { 
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

header a:hover {
    color: #290ea3;
}

.main1 {
    background-color: #FFFF;
    width: 70%;
    height: auto;
    justify-self: center;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    padding: 2px;
}

.main1 h2 {
    padding: 30px;
    text-align: center;
}

.main1 h3 {
    margin-top: 10px;
    text-align: center;
}

.lista1 {
    justify-self: center;
}

.main2 {
    text-align: center;
    background-color: #FFFF;
    width: 70%;
    height: auto;
    border-radius: 10px;
    justify-self: center;
    text-align: center;
    margin-top: 9%
}

.main3 {
    text-align: center;
    justify-self: center;
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin-top: 17.5%;
    background-color: #FFFF;
}

.divLista {
    justify-self: center;
    width: 10%;
}

.main4 {
    text-align: center;
    justify-self: center;
    width: 70%;
    height: auto;
    box-shadow: 0px 0px 10px;
    border-radius:10px;
    background-color: #FFFF;
    margin-top: 20.3%;
}

.main5 {
    text-align: center;
    justify-self: center;
    background-color: #FFFF;
    border-radius: 10px;
    width: 70%;
    height: auto  ;
    box-shadow: 0px 0px 10px;
    margin-top: 10%;
}

.main6 {
    text-align: center;
    justify-self: center;
    width: 70%;
    height: 300px;
    border-radius: 10px;
    background-color: #FFFF;
    box-shadow: 0px 0px 10px;
    margin-top: 10%;
}